In [1]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/Lambda-School-Labs/family-promise-service-tracker-ds-a/main/notebooks/services_data.csv')
df

        Unnamed: 0  Client ID Service        Service Date
0                0      78990    Meal   1/3/2018 12:00 AM
1                1      68769    Meal   1/3/2018 12:00 AM
2                2      67407    Meal   1/3/2018 12:00 AM
3                3      67409    Meal   1/3/2018 12:00 AM
4                4      37424    Meal   1/3/2018 12:00 AM
...            ...        ...     ...                 ...
151130      151130     100674    Meal  7/27/2020 12:00 AM
151131      151131     100768  Shower  7/27/2020 12:00 AM
151132      151132     100768    Meal  7/27/2020 12:00 AM
151133      151133     100775  Shower  7/27/2020 12:00 AM
151134      151134     100775    Meal  7/27/2020 12:00 AM

[151135 rows x 4 columns]

In [2]:
df['Client ID'].value_counts()

76956    935
84186    913
84189    880
84188    876
84187    859
        ...
86899      1
75299      1
68537      1
86021      1
85518      1
Name: Client ID, Length: 1519, dtype: int64

In [3]:
df['Service'].value_counts()

Housing Check-In                                  48749
Meal                                              35619
Shower                                            30558
Laundry                                           22305
Shelter                                            6813
Client Contact                                     5523
Case Management                                     829
Case/Care management                                318
Life Skills Classes                                  77
Bus Pass                                             66
Bus Tokens                                           47
Housing Search and Placement                         39
Mental Health Counseling                             29
Food                                                 18
Responsible Renters Class                            14
Security Deposit                                     13
Employment Services                                  12
Gas Card                                             11
Birth Certificate                                    10
Transportation                                       10
Self Awareness Class 2                                9
Rental Assistance                                     9
Housing Reservation                                   8
Material Goods                                        7
McDial                                                6
Financial Assistance                                  5
Moving Costs                                          4
Motel + Hotel Vouchers                                4
Clothing                                              3
I.D. Service                                          3
Employment Skills                                     3
Work Assessment                                       2
Literacy                                              1
Responsible Renters 2                                 1
Food Handlers Card                                    1
Utility Assistance                                    1
Job Readiness Class                                   1
TBRA                                                  1
Health Care                                           1
Furniture                                             1
Transitional Housing - Category 4 (Fleeing DV)        1
Credit Repair                                         1
Housing Referral                                      1
Outreach                                              1
Name: Service, dtype: int64

In [4]:
internal  = ['Housing Check-In', 
                'Meal', 
                'Shower', 
                'Laundry',
                'Shelter', 
                ]

external  = ['Case Management',
                'Case/Care management',
                'Life Skills Classes',                                  
                'Bus Pass',                                             
                'Bus Tokens',                                          
                'Housing Search and Placement',                       
                'Mental Health Counseling',                             
                'Food',                                                 
                'Responsible Renters Class',                            
                'Security Deposit',                                     
                'Employment Services',                                  
                'Gas Card',                                            
                'Transportation',                                       
                'Birth Certificate',                                    
                'Rental Assistance',                                     
                'Self Awareness Class',                                
                'Housing Reservation'                                   
                'Material Goods',                                        
                'McDial'                                                
                'Financial Assistance',                                  
                'Moving Costs',                                          
                'Motel + Hotel Vouchers',                                
                'Clothing',                                              
                'Employment Skills',                                     
                'I.D. Service',                                          
                'Work Assessment',                                       
                'Housing Referral',                                     
                'Responsible Renters',                                
                'Transitional Housing - Category 4 (Fleeing DV)',       
                'Credit Repair',                                         
                'Food Handlers Card',                                    
                'Furniture',                                            
                'Outreach',                                              
                'TBRA',                                                 
                'Utility Assistance',                                    
                'Literacy',                                             
                'Job Readiness Class',                                  
                'Health Care'     
                ]

In [5]:
import numpy as np
col = 'Service'
conditions = [df[col].isin(internal), df[col].isin(external)]
choices = ['internal', 'external']
df['target'] = np.select(conditions, choices, default=np.nan)

In [6]:
df.target.value_counts()

internal    144044
nan           5559
external      1532
Name: target, dtype: int64

In [9]:
df.sort_values(by=['target'],ascending=False).to_csv(r'/content/test1.csv', index = False)

In [10]:
mock_data = pd.read_csv('https://raw.githubusercontent.com/Lambda-School-Labs/family-promise-service-tracker-ds-a/main/data/mock_data.csv')
mock_data

     client_id          full_name  ...   longitude                date
0        54892  Mehetabel Aylmore  ... -122.371025  5/14/2018 12:00 AM
1        49499       Elga Raeburn  ... -122.365667  5/14/2018 12:00 AM
2        64034   Kimmie Richardot  ... -122.369483  5/21/2018 12:00 AM
3        42222       Adham Polack  ... -122.369279  9/17/2018 12:00 AM
4        45792       Jeff Winspar  ... -122.372471  5/21/2018 12:00 AM
..         ...                ...  ...         ...                 ...
995      54100       Devin Dudill  ... -122.296165  3/26/2018 12:00 AM
996      46985    Ingeberg McHugh  ... -122.294359  3/26/2018 12:00 AM
997      48860     Kimmie Lartice  ... -122.291115  3/27/2018 12:00 AM
998      67058      Kyle Albasini  ... -122.296482  3/27/2018 12:00 AM
999      67771  Fitzgerald Siflet  ... -122.294322                 NaN

[1000 rows x 9 columns]

In [11]:
import plotly.express as px

fig = px.scatter_mapbox(, lat="latitude", lon='longitude',
                     color="V5 City", # which column to use to set the color of markers
                     hover_name="zip", # column added to hover information
                     size='total', # size of markers
                     zoom=4,
                     )

fig.update_layout(mapbox_style="open-street-map")
fig.show()

NameError: ignored